/* colors */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol,
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;
  color: hsl(0deg, 0%, 41%);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

li, button {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 81.25em;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.overflow-hidden {
  overflow: hidden;
}

/* Media Query mixins */
@media (min-width: 64em) {
  .hide-for-desktop {
    display: none !important;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  padding: 1.5rem 1rem;
}
@media (min-width: 40em) {
  .header {
    padding: 2rem 2.5rem;
  }
}
.header .nav {
  position: relative;
  align-items: center;
}
.header .nav-links {
  position: fixed;
  z-index: 10;
  inset: 0 0 0 35%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 64em) {
  .header .nav-links {
    position: static;
    flex-direction: row;
    transform: translateX(0);
    --gap: 3.5rem;
    padding-top: 0;
    -webkit-padding-start: 3.75rem;
            padding-inline-start: 3.75rem;
  }
}
.header .nav-links > li a {
  position: relative;
  transition: color 0.15s ease-in-out;
}
.header .nav-links > li a img {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 4px;
}
.header .nav-links > li a:hover {
  color: hsl(0deg, 0%, 8%);
}
.header .nav-links > li ul {
  display: none;
  flex-direction: column;
  padding: 1.25rem 2rem;
  gap: 1rem;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}
.header .nav-links > li ul li {
  transition: color 0.15s ease-in-out;
}
.header .nav-links > li ul li:hover {
  color: hsl(0deg, 0%, 8%);
}
@media (min-width: 64em) {
  .header .nav-links > li ul {
    position: absolute;
    box-shadow: 0 2px 8px lightgray;
    border-radius: 10px;
  }
}
.header .nav-links > li img {
  display: inline-block;
  position: relative;
  top: 2px;
  left: -6px;
}
@media (min-width: 64em) {
  .header .nav-links > li {
    font-size: 14px;
  }
  .header .nav-links > li:first-child ul {
    transform: translate(-47%, 7%);
  }
  .header .nav-links > li:nth-child(2) ul {
    transform: translateY(10%);
  }
}
.header .nav-links > li.opened ul {
  display: flex;
}
.header .nav-toggle {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: 0;
  border: 0;
}
.header .nav-toggle > span {
  display: block;
  width: 2rem;
  height: 0.125rem;
  background-color: #151515;
  transform-origin: 7px 1px;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.header .nav-login {
  margin-left: auto;
}
.header .nav-login button {
  padding: 0.625rem 1.5rem;
  border: 0;
  background: 0;
  border-radius: 15px;
  font-size: 14px;
  transition: all 0.15s ease-in-out;
}
.header .nav-login button:hover {
  color: hsl(0deg, 0%, 8%);
}
.header .nav-login button:last-child {
  outline: 1px solid hsl(0deg, 0%, 41%);
}
.header .nav-login button:last-child:hover {
  outline: 1px solid hsl(0deg, 0%, 8%);
}
.header .nav .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.header .nav.opened .nav-links {
  transform: translateX(0);
}
.header .nav.opened .nav-toggle > span:first-child {
  transform: rotate(45deg);
}
.header .nav.opened .nav-toggle > span:nth-child(2) {
  opacity: 0;
}
.header .nav.opened .nav-toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .nav.opened .overlay {
  visibility: visible;
  opacity: 1;
}

.hero {
  --flow-space: 2.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .hero {
    padding: 3.5rem 8.5rem;
    display: grid;
    gap: 7rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image" "clients image";
  }
}
.hero-image {
  width: 100%;
  min-height: 20rem;
  background-image: url(/images/image-hero-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 40em) {
  .hero-image {
    min-height: 25rem;
  }
}
@media (min-width: 64em) {
  .hero-image {
    background-image: url(/images/image-hero-desktop.png);
    min-height: 40rem;
    grid-area: image;
  }
}
.hero-text {
  --flow-space: 1.5rem;
  padding-inline: 1rem;
}
@media (min-width: 40em) {
  .hero-text {
    --flow-space: 2.75rem;
  }
}
@media (min-width: 64em) {
  .hero-text {
    margin-top: 6.875rem;
    text-align: left;
    grid-area: text;
  }
  .hero-text p {
    width: 97%;
  }
}
.hero-text h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  color: hsl(0deg, 0%, 8%);
}
@media (min-width: 64em) {
  .hero-text h1 {
    line-height: 1.1;
  }
  .hero-text h1 span {
    display: block;
  }
}
.hero-text button {
  padding: 0.875rem 1.75rem;
  font-size: 14px;
  font-weight: 700;
  background: 0;
  border: 0;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border-radius: 15px;
  outline: 1px solid hsl(0deg, 0%, 8%);
  transition: all 0.15s ease-in-out;
}
@media (min-width: 64em) {
  .hero-text button {
    font-size: 16px;
  }
}
.hero-text button:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}
.hero-clients {
  justify-content: center;
  align-items: center;
  --gap: 1.5rem;
  padding-inline: 1rem;
}
@media (min-width: 64em) {
  .hero-clients {
    margin-top: 0;
    --gap: 2rem;
    grid-area: clients;
  }
}/*# sourceMappingURL=styles.css.map */